@{
    ViewBag.Title = "Уведомление";
}
<br/>
<h4 class="textcentred">Платёж успешно завершён.<br/><br/>Отправить чек на email?<br/><br/></h4>

<div class="textcentred">
<button type="button" class="btn btn-success" onClick='location.href="/Payment/Email"'>Да</button>
<button type="button" class="btn btn-danger" onClick='location.href="/Home/Index"'>Нет</button>
</div>


