@{
    ViewBag.Title = "Index";
}

<h2>Редактирование валют</h2>

<fieldset>
    <div>@Html.ActionLink("Конвертер валют", "CurrencyEditor", "Currency")</div>
    <div>@Html.ActionLink("Сменить курс", "ChangeCurrency", "Currency")</div>
</fieldset>