@{
    ViewBag.Title = "Index";
}

<h2>Операции с валютами</h2>

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Конвертер валют", "CurrencyEditor", "Currency")</li>
    <li>@Html.ActionLink("Сменить курс", "ChangeCurrency", "Currency")</li>
</ul>
