@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
</hgroup>
<hr/>

<section class="contact">
    <header>
        <h4>Телефоны</h4>
    </header>
    <p>
        <span class="label">Мобильный:</span>
        <span>+375-29-123-45-56</span>
    </p>
    <p>
        <span class="label">Стационарный:</span>
        <span>8017-293-43-54</span>
    </p>
</section>

<section class="contact">
    <header>
        <h4>Email</h4>
    </header>
    <p>
        <span><a href="mailto:ksenialyanova@mail.ru">ksenialyanova@mail.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h4>Юридический адрес</h4>
    </header>
    <p>
        г. Минск, ул. Независимости 36, кв. 1
    </p>
</section>