@{
    ViewBag.Title = "Помощь";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
</hgroup>
<hr />
<h4>Регистрация</h4>

<p class="text-center1 pagination-left">
    <br />

    Для подключения услуги «Интернет-банкинг» необходимо заполнить Анкету-заявление, обратившись непосредственно в учреждение банка или воспользоваться сервисом on-line регистрации системы «Интернет-банкинг».
    В случае регистрации в учреждении банка необходимо:
    <br />
    •	обратиться в учреждение банка с документом, удостоверяющим личность, и банковской платежной картой, эмитированной банком;
    <br />
    •	оплатить вознаграждение за банковское обслуживание клиента с использованием системы «Интернет-банкинг» в соответствии со сборником вознаграждений;
    <br />
    •	подписать Анкету-заявление на банковское обслуживание клиента с использованием системы «Интернет-банкинг»;
    <br />
    •	получить Имя пользователя, пароль.
</p>
<hr />
    <h4>Смена пароля</h4>


<p class="text-center1 pagination-left">
    <br />

    Функционал системы «Интернет-банкинг» позволяет сменить пароль. Для этого необходимо зайти в раздел «Профиль [имя пользователя]»-«Смена пароля».
    Требования, предъявляемые к паролю для входа в систему:
    <br />
    1. пароль должен содержать латинские буквы, цифры, спец. символы;
    <br />
    2. пароль должен содержать не менее 8;
    <br />
    3. пароль должен содержать хотя бы одну прописную и хотя бы одну строчную букву, хотя бы одну цифру,  хотя бы один спец. символ.
</p>
<hr />
    <h4>Разблокировка учеиной записи</h4>
    
<p class="text-center1 pagination-left">
    <br />

    Разблокировать учетную запись можно только в учреждении банка. В данном случае Вам необходимо явиться в любое учреждение банка и заполнить заявление на разблокирование учетной записи клиента в системе «Интернет-банкинг», где вам выдадут новый пароль. При себе необходимо иметь документ, удостоверяющий личность.
</p>