@model Internet_Banking.Models.LoginModel
@{
    ViewBag.Title = "Главная страница";
}

@Styles.Render("~/Content/LoginStyle.css")

@section featured {
    <section class="featured">
    </section>
}

<p class="text-center1 pagination-left">
    <br/>
    @ViewBag.Greeting, @User.Identity.Name! Приветствуем вас на своём сайте!<br/><br/>
    Интернет-банк «МБанк» — Вы в курсе всего, что касается Ваших денег. 
    Это современный, удобный и практичный Интернет-банк с возможность 
    проведения платежей и переводов через Интернет с максимальной скоростью и надежностью. 
    С Интернет-банком «МБанк» Вам нет необходимости лично посещать 
    отделение «МБанка», управляя своими счетами и осуществляя операции по финансам, находясь в любой точке мира. 
    Интернет-банк «МБанк» — это простота и быстрота подключения к системе, 
    отсутствие необходимости установки специального программного обеспечения, а также удобный интерфейс.
</p>