@{
    ViewBag.Title = "Итоги января";
}

<br/>
<p class="textcentred ttl"><b>ИТОГИ ДЕЯТЕЛЬНОСТИ ЗАО «МБАНК» ЗА ДЕКАБРЬ 2014 ГОДА</b></p>
<hr/>

<p class="text-center1 pagination-left">
    <br/>
Деятельность банка в декабре 2014 года была направлена на решение задач, определенных Основными показателями развития на 2014 год и Основными направлениями денежно-кредитной политики Республики Беларусь на 2014 год.
Нормативный капитал банка на 01.12.2014 составил 23,6 трлн. рублей.
Уставный фонд составляет 16,7 трлн. рублей или 1 234 млн. евро.
Ресурсная база банка за декабрь 2014 года увеличилась на 3 % или на 17 трлн. рублей и на 31.12.2014 составила 196 трлн. рублей.
Объем средств корпоративных клиентов на 01.12.2014 составил 68 трлн. рублей, в том числе объем ресурсов, привлеченных путем размещения облигаций среди юридических лиц, на 01.12.2014 составил 3,5 трлн. рублей, из них: 682 млрд. рублей и 258 млн. долларов США в эквиваленте.
Объем привлеченных средств физических лиц (без учета начисленных процентов) составил 65 трлн. рублей, в том числе объем ресурсов, привлеченных путем размещения облигаций среди физических лиц, на 01.12.2014 составил 3 трлн. рублей, из них: 1,5 млрд. рублей и 285 млн. долларов США в эквиваленте.
Объем кредитных ресурсов, привлеченных ЗАО «Мбанк» от иностранных банков и финансовых компаний на 01.12.2014 составил 2 млрд. долларов США в экв. Указанные ресурсы направлены на реализацию инвестиционных проектов предприятий.
</p>
<div align="center">
<img src="~/Content/images/infikiosks.jpg" style="width:500px;height:373px;margin-left:auto;margin-right:auto;">
</div>
<p class="text-center1 pagination-left">
    <br/>
Функционирует 1 258 банкоматов, 2 233 инфокиосков, 47 тысяч электронных терминалов в предприятиях торговли и сервиса, 2 тысячи пунктов выдачи наличных, 2 тысячи пунктов приёма коммунальных платежей.
Доля безналичных операций по платежным карточкам в общем объеме расходных операций с использованием платежных карточек в сети банка, за декабрь 2014 года составила 31,91 %.
За отчетный период объем валютно-обменных операций с участием физических лиц с наличной иностранной валютой составил (с учетом конверсии) в эквиваленте долларов США по покупке 2 209 млн., по продаже 2 047 млн.
</p>
