@{
    ViewBag.Title = "Выпуск юбилейных пластиковых банковских карт";
}

<br/>
<p class="textcentred ttl"><b>БАНК ВЫПУСКАЕТ ПЛАСТИКОВЫЕ КАРТОЧКИ БЕЛКАРТ-М С ЮБИЛЕЙНЫМ ДИЗАЙНОМ</b></p>
<hr/>

<p class="text-center1 pagination-left">
    <br/>
В честь празднования своего 90-летия, ЗАО «Мбанк» выпускает ограниченную партию 
пластиковых карточек БелКарт-М со специальным юбилейным дизайном. Украшением карточки стало 
новое здание банка, которое гармонично вписалось в архитектурный облик нашей прекрасной столицы. 
Карточки БелКарт-М предназначены для использования на территории Республики Беларусь. Они очень 
удобны для получения заработной платы, алиментов, пособий, дивидендов, др. доходов и позволяют 
своим держателям надёжно хранить денежные средства. Оформление карточки БелКарт-М банком 
производится бесплатно.
</p>
<div align="center">
<img src="~/Content/images/cards1.jpg" style="width:500px;height:373px;margin-left:auto;margin-right:auto;">
</div>