@{
    ViewBag.Title = "Перерывы в облуживании держателей банковских карт";
}

<br/>
<p class="textcentred ttl"><b>ПЕРЕРЫВЫ В ОБСЛУЖИВАНИИ ДЕРЖАТЕЛЕЙ КАРТОЧЕК</b></p>
<hr/>

<p class="text-center1 pagination-left">
    <br/>
ОАО «Мбанк» сообщает, что 07 февраля 2015 года в период времени с 03.00 до 05.00 в связи с проведением ОАО «Банковский процессинговый центр» профилактических работ возможны перерывы в обеспечении процессинга операций по карточкам ЗАО «Мбанк», а также в обслуживании держателей карточек в сети организаций торговли (сервиса), пунктов выдачи наличных, банкоматов, инфокиосков, подключенных к ОАО «Банковский процессинговый центр».
Приносим извинения за временные неудобства.


</p>

