@{
    ViewBag.Title = "Index";
}

<<<<<<< HEAD
<h4>Переводы</h4>
=======
<h4>Редактирование валют</h4>
>>>>>>> 87d089ca86b6a62e8155f57418550bfcca6d12b1

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("История переводов", "HistoryOfTransfers", "Transfers")</li>
    <li>@Html.ActionLink("Перевести средства", "TransferResources", "Transfers")</li>
</ul>
