@{
    ViewBag.Title = "Index";
}

<h3>Переводы</h3>


<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("История переводов", "HistoryOfTransfers", "Transfers")</li>
    <li>@Html.ActionLink("Перевести средства", "TransferResources", "Transfers")</li>
</ul>
