@model Internet_Banking.Models.TransfersModel

@{ 
}

<form>
    <fieldset>
        <legend>
            Операция завершилась успешно
        </legend>
        <div>
            Вы перевели деньги со счета @Model.AccountFrom в размере @Model.TransferValue@Model.Currency на счет @Model.AccountTo
        </div>
    </fieldset>

    <div>@Html.ActionLink("Вернуться к переводам", "Index", "Transfers")</div>
</form>
